# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
.next
out

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
/apps/backend/prisma/migrations
/apps/backend/prisma/*.db
/apps/backend/prisma/*.db-journal

# IDEs
.vscode
.idea
*.swp
*.swo

# Project Specific
uploads/
